<div class="row">
	<div class="col-sm-10 col-sm-offset-1">
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">Reporte de cobranza</div>
				<div class="panel-body">
					</div>
						<div class="col-xs-6 col-sm-4">
							<label for="totalCharged">Total cobrado:</label>
							<div class='input-group'>
		    					<div class='input-group-addon'>$</div>
								<input class="form-control input-sm" type="text" id="totalCharged" name="totalCharged" value="0.00" readonly>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4">
							<label for="assignedCharged">Asignado cobrado:</label>
							<div class='input-group'>
		    					<div class='input-group-addon'>$</div>
								<input class="form-control input-sm" type="text" id="assignedCharged" name="assignedCharged" value="0.00" readonly>
							</div>
						</div>
						<div class="col-xs-6 col-sm-4">
							<label for="unassignedCharged">No asignado cobrado:</label>
							<div class='input-group'>
		    					<div class='input-group-addon'>$</div>
								<input class="form-control input-sm" type="text" id="unassignedCharged" name="unassignedCharged" value="0.00" readonly>
							</div>
						</div>
					</div>-->
					<div class="row">
						<table id="invTable" data-toggle="table" data-search="true" data-show-columns="true" data-show-refresh="true" data-filter-control="true">
							<thead>
								<tr>
									<th data-field="Articulo" data-align="center" data-sortable="true" >Articulo</th>
								    <th data-field="Almacen" data-align="center" data-sortable="true" >Almacen</th>
								    <th data-field="Disponible" data-align="center" data-sortable="true">Disponible</th>
								    <th data-field="Rama" data-align="center" data-sortable="true">Rama</th>
								    <th data-field="Descripcion" data-align="center" data-sortable="true" >Descripcion</th>
								    <th data-field="Grupo" data-align="center" data-sortable="true"data-filter-control="input" >Grupo</th>
								    <th data-field="Categoria" data-align="center" data-sortable="true">Categoria</th>
								    <th data-field="Familia" data-align="center" data-sortable="true" data-filter-control="input">Familia</th>
								    <th data-field="Linea" data-align="center" data-sortable="true" data-filter-control="input">Linea</th>
								    <th data-field="Fabricante" data-align="center" data-sortable="true" data-filter-control="input">Fabricante</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
