<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <form role="form">
                <div class="row">
                    <div class="form-group col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4">
                            <label class="sr-only" for="Codigo">Codigo</label>
                            <div>
                                <input class="form-control" id="Codigo" name="Codigo" type="text" placeholder="Codigo" tabindex="1" ng-model="filters.Codigo"/>
                            </div>
                    </div>
                    <div class="form-group col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4">
                            <label class="sr-only" for="Descripcion">Descripcion</label>
                            <div>
                                <input class="form-control" id="Descripcion" name="Descripcion" type="text" placeholder="Descripcion" tabindex="2" ng-model="filters.Descripcion"/>
                            </div>
                    </div>
                <!--</div>
                <div class="row">-->
                    <div class="form-group col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4">
                            <label class="sr-only" for="Fabricante">Fabricante</label>
                            <div>
                                <input class="form-control" id="Fabricante" name="Fabricante" type="text" placeholder="Fabricante" tabindex="4" ng-model="filters.Fabricante"/>
                            </div>
                    </div>
                    <div class="form-group col-sm-offset-1 col-sm-4 col-md-offset-1 col-md-4 col-lg-offset-1 col-lg-4">
                            <label class="sr-only" for="Empresa">Empresa</label>
                            <div>
                                <select class="form-control" id="Empresa" name="Empresa" tabindex="5" ng-model="filters.Empresa">
                                  <option value="{{db}}" ng-repeat="db in dataBases">{{db}}</option>
                                </select>
                            </div>                  
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8 col-sm-offset-4 col-sm-4">
                        <button type="submit" class="btn btn-primary btn-block" tabindex="6" ng-click="searchInv(filters)">Buscar</button>
                    </div>
                </div>      
            </form>
        </div>
    </div>
</div>
<br />
<!-- Workspaces nav -->
<ul class="nav nav-tabs">
    <li role="presentation" ng-repeat="wk in workspaces" ng-class="{active: currentWorkspace==wk}" ng-click="changeCurrentWorkspace(wk)"><a href="#">{{wk.name}}</a></li>
</ul>

<!-- Workspaces containers -->
<div class="workspaceContainer" ng-repeat="wk in workspaces" ng-show="currentWorkspace==wk">
    <table bs-table-control="wk.bsTableControl"></table>
</div>

